<h1>Jungle's Admin Dashboard</h1>
<p>You'll find below the count of our Products and Categories.

<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <div class="panel-body">
    Total count: <%=link_to @product_count, [:admin, :products]%>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Categories</div>
  <div class="panel-body">
    Total count: <%=@category_count%>
  </div>
</div>