<h1>About Jungle</h1>

<p><strong>Jungle Store</strong>, brought to you by Lighthouse Labs Web Development Bootcamp!
<br><dd>We sell things that you will never get, because they are not real! And the prices... don't get me started
about the prices.</p>

<p align="center">
  <br><%= link_to "Home", root_path, class: 'btn btn-lg btn-primary' %>
</p>
